section.section-1 {
    margin-top: 3.95vw;
    display: block;
    position: relative;
    width: 100vw;
    height: 31.56vw;
    background: rgba(20, 20, 20, 0.5);
    z-index: 0;
}

section.section-1 ul {
    vertical-align: top;
    display: inline-block;
    width: 45vw;
    height: 26.30vw;
    line-height: 4.21vw;
    margin-top: 5.26vw;
    margin-left: 5vw;
}

section.section-1 ul li {
    color: rgba(241, 71, 100, 1);
    font-size: 2vw;
}

section.section-1 p {
    vertical-align: top;
    display: inline-block;
    width: 45vw;
    height: 26.30vw;
    line-height: 4.21vw;
    margin-top: 5.26vw;
    margin-right: 5vw;
    color: rgba(241, 71, 100, 1);
    font-size: 2vw;
}

section.section-1 div#d {
    background:rgba(241, 71, 100, 1);
    position: absolute;
    width: 0.5vw;
    height: 6.84vw;
    top: 13.68vw;
    left: 50vw;
    border-radius: 0 0 0 1.05vw / 0 0 0 1.05vw;
}

section.section-1 div#e {
    background:rgba(241, 71, 100, 1);
    position: absolute;
    width: 2vw;
    height: 0.53vw;
    top: 19.99vw;
    left: 50vw;
    border-radius: 0 0 0 1.05vw / 0 0 0 1.05vw;
}

section.section-1 ol {
    position: absolute;
    width: 20vw;
    height: 12.63vw;
    left: 52vw;
    top: 13.68vw;
}

section.section-1 ol li {
    font-size: 1.79vw;
    margin-left: 3.16vw;
    margin-bottom: 0;
    transition: all ease 0.3s;
    opacity: 100%;
}

section.section-1 ol li:hover {
    margin-bottom: 0.53vw;
    margin-left: 2.63vw;
    opacity: 30%;
}

ol li#water {
    color: #4FA9FF;
}

ol li#fire {
    color: #DA3F3F;
}

ol li#grass {
    color: #69FF23;
}

ol li#flying {
    color: #ACE8E1;
}

ol li#poison {
    color: #B64DFF;
}

ol li#electric {
    color: #FFFF20;
}

section.section-1 img {
    display: block;
    height: 31.56vw;
}

section.section-1 img#a {
    float: right;
    margin-right: 5vw;
}

section.section-1 img#b {
    float: left;
    margin-left: 5vw;
    margin-right: 13.44vw;
}

section.section-1 div#a {
    position: absolute;
    width: 1vw;
    height: 31.56vw;
    background: rgba(241, 71, 100, 1);
    top: 0;
    transition: left ease 0.5s;
}

section.section-1 div#a.a {
    left: 62.44vw;
}

section.section-1 div#a.b {
    left: 4vw;
}

section.section-1 div#b {
    position: absolute;
    width: 31.56vw;
    height: 31.56vw;
    background: rgba(16, 16, 16, 1);
    top: 0;
    transition: width ease 0.5s;
}

section.section-1 div#b.a {
    right: 5vw;
}

section.section-1 div#b.b {
    right: 63.44vw;
}

section.section-1 div#c {
    position: absolute;
    width: 31.56vw;
    height: 31.56vw;
    top: 0;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: -1;
}

section.section-1 div#c.a { 
    right: 5vw;
    background: rgba(54, 57, 63, 1);
}

section.section-1 div#c.b { 
    left: 5vw;
    background: rgba(106, 178, 97, 1);
}

section.section-1.active div#a.a {
    left: 94vw;
}

section.section-1.active div#a.b {
    left: 35.56vw;
}

section.section-1.active div#b {
    width: 0;
}

section.section-1.active div#c { 
    width: 36.82vw;
    height: 36.82vw;
    top: -2.63vw;
    opacity: 50%;
}

section.section-1.active div#c.a { 
    right: calc(5vw - 2.63vw);
}

section.section-1.active div#c.b { 
    left: calc(5vw - 2.63vw);
}