* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background: rgba(241, 71, 100, 1);
    border-radius: 5% / 100%;
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    width: 95vw;
    height: 10vh;
    opacity: 50%;
    transition: opacity ease 1s;
}

nav:hover {
    opacity: 100%;
}

nav a button {
    background: #0C0C0C;
    border: transparent;
    border-radius: 30% / 70%;
    display: inline-block;
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    color:rgba(241, 71, 100, 1);
    width: 10vw;
    height: 8vh;
    font-size: 1vw;
    font-weight: bolder;
    transition: all ease 0.5s;
}

nav a button:hover {
    width: 12vw;
    height: 9.6vh;
    margin-top: 0.2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    color: rgba(241, 71, 100, 0.1);
}



body {
    background: #0C0C0C;
}

body::-webkit-scrollbar {
    display: none;
}
