#main-title h1 {
    color: #2DA921;
}

#main-title div#top {
    background: #2DA921;
}

#main-title div#bottom {
    background: #2DA921;
}

#main-title div#left {
    background: #2DA921;
}

#main-title div#right {
    background: #2DA921;
}

section#hidden {
    display: block;
    position: relative;
    margin-top: 3.95vw;
    width: 100vw;
    height: 15.78vw;
}

section#hidden p {
    position: absolute;
    height: 9.47vw;
    top: 3.16vw;
    font-size: 3vw;
    line-height: 4.73vw;
    text-align: center;
    left: 15vw;
    width: 70vw;
    font-weight: bolder;
    color: rgba(241, 71, 100, 1);
}

section#hidden section {
    position: absolute;
    height: 12.63vw;
    top: 1.58vw;
    width: 0.53vw;
    left: 85vw;
    background:rgba(241, 71, 100, 1);
}

section#hidden div {
    position: absolute;
    height: 15.78vw;
    border-radius: 0 15vw 5vw 0 / 0 100% 35% 0;
    z-index: 1;
    transition: all ease 1s;
}

section#hidden div h2 {
    position: absolute;
    color: #0C0C0C;
    line-height: 15.78vw;
    font-size: 2.1vw;
    right: 5vw;
    font-weight: bold;
    transform: rotate(45deg);
}

section#hidden:hover div {
    border-radius: 0 2vw 2vw 0 / 0 10% 10% 0;
}

#red {
    background: #DA3F3F;
    width: 33vw;
}

section#hidden:hover div#red {
    width: 5vw;
}

#green {
    background: #69FF23;
    width: 66vw;
}

section#hidden:hover div#green {
    width: 10vw;
}

#blue {
    background: #4FA9FF;
    width: 99vw;
}

section#hidden:hover div#blue {
    width: 15vw;
}



